/mcp-server
/bin
/.eslintcache
/.speakeasy/reports
/react-query
/sdk/models/errors
/sdk/types
/__tests__
/funcs
/core.*
/esm
/dist
/.tshy
/.tshy-*
/hooks
/models
/models/errors
/types
/lib
/sdk
/index.*
/cjs
/node_modules
/.tsbuildinfo
