/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PlexAPICore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../sdk/models/errors/httpclienterrors.js";
import { PlexAPIError } from "../sdk/models/errors/plexapierror.js";
import { ResponseValidationError } from "../sdk/models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../sdk/models/errors/sdkvalidationerror.js";
import * as operations from "../sdk/models/operations/index.js";
import { APICall, APIPromise } from "../sdk/types/async.js";
import { Result } from "../sdk/types/fp.js";

/**
 * Set the fields of the filtered items
 *
 * @remarks
 * This endpoint takes an large possible set of values.  Here are some examples.
 * - **Parameters, extra documentation**
 *   - artist.title.value
 *       - When used with track, both artist.title.value and album.title.value need to be specified
 *   - title.value usage
 *       - Summary
 *           - Tracks always rename and never merge
 *           - Albums and Artists
 *               - if single item and item without title does not exist, it is renamed.
 *               - if single item and item with title does exist they are merged.
 *               - if multiple they are always merged.
 *       - Tracks
 *           - Works as expected will update the track's title
 *           - Single track:    `/library/sections/{id}/all?type=10&id=42&title.value=NewName`
 *           - Multiple tracks: `/library/sections/{id}/all?type=10&id=42,43,44&title.value=NewName`
 *           - All tracks:      `/library/sections/{id}/all?type=10&title.value=NewName`
 *       - Albums
 *           - Functionality changes depending on the existence of an album with the same title
 *           - Album exists
 *               - Single album: `/library/sections/{id}/all?type=9&id=42&title.value=Album 2`
 *                   - Album with id 42 is merged into album titled "Album 2"
 *               - Multiple/All albums: `/library/sections/{id}/all?type=9&title.value=Moo Album`
 *                   - All albums are merged into the existing album titled "Moo Album"
 *           - Album does not exist
 *               - Single album: `/library/sections/{id}/all?type=9&id=42&title.value=NewAlbumTitle`
 *                   - Album with id 42 has title modified to "NewAlbumTitle"
 *               - Multiple/All albums: `/library/sections/{id}/all?type=9&title.value=NewAlbumTitle`
 *                   - All albums are merged into a new album with title="NewAlbumTitle"
 *       - Artists
 *           - Functionaly changes depending on the existence of an artist with the same title.
 *           - Artist exists
 *               - Single artist: `/library/sections/{id}/all?type=8&id=42&title.value=Artist 2`
 *                   - Artist with id 42 is merged into existing artist titled "Artist 2"
 *               - Multiple/All artists: `/library/sections/{id}/all?type=8&title.value=Artist 3`
 *                   - All artists are merged into the existing artist titled "Artist 3"
 *           - Artist does not exist
 *               - Single artist: `/library/sections/{id}/all?type=8&id=42&title.value=NewArtistTitle`
 *                   - Artist with id 42 has title modified to "NewArtistTitle"
 *               - Multiple/All artists: `/library/sections/{id}/all?type=8&title.value=NewArtistTitle`
 *                   - All artists are merged into a new artist with title="NewArtistTitle"
 *
 * - **Notes**
 *     - Technically square brackets are not allowed in an URI except the Internet Protocol Literal Address
 *     - RFC3513: A host identified by an Internet Protocol literal address, version 6 [RFC3513] or later, is distinguished by enclosing the IP literal within square brackets ("[" and "]"). This is the only place where square bracket characters are allowed in the URI syntax.
 *     - Escaped square brackets are allowed, but don't render well
 */
export function libraryUpdateItems(
  client: PlexAPICore,
  request: operations.UpdateItemsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.UpdateItemsResponse,
    | PlexAPIError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PlexAPICore,
  request: operations.UpdateItemsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.UpdateItemsResponse,
      | PlexAPIError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.UpdateItemsRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    sectionId: encodeSimple("sectionId", payload.sectionId, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/library/sections/{sectionId}/all")(pathParams);

  const query = encodeFormQuery({
    "album.title.id": payload["album.title.id"],
    "album.title.value": payload["album.title.value"],
    "artist.title.id": payload["artist.title.id"],
    "artist.title.value": payload["artist.title.value"],
    "field.locked": payload["field.locked"],
    "field.value": payload["field.value"],
    "filters": payload.filters,
    "tagtype[].tag": payload["tagtype[].tag"],
    "tagtype[].tag.tag-": payload["tagtype[].tag.tag-"],
    "tagtype[idx].tag.tag": payload["tagtype[idx].tag.tag"],
    "tagtype[idx].tagging.object": payload["tagtype[idx].tagging.object"],
    "title.value": payload["title.value"],
    "type": payload.type,
  });

  const headers = new Headers(compactMap({
    Accept: "*/*",
    "X-Plex-Client-Identifier": encodeSimple(
      "X-Plex-Client-Identifier",
      payload["Client-Identifier"] ?? client._options.clientIdentifier,
      { explode: false, charEncoding: "none" },
    ),
    "X-Plex-Device": encodeSimple(
      "X-Plex-Device",
      payload.Device ?? client._options.device,
      { explode: false, charEncoding: "none" },
    ),
    "X-Plex-Device-Name": encodeSimple(
      "X-Plex-Device-Name",
      payload["Device-Name"] ?? client._options.deviceName,
      { explode: false, charEncoding: "none" },
    ),
    "X-Plex-Device-Vendor": encodeSimple(
      "X-Plex-Device-Vendor",
      payload["Device-Vendor"] ?? client._options.deviceVendor,
      { explode: false, charEncoding: "none" },
    ),
    "X-Plex-Marketplace": encodeSimple(
      "X-Plex-Marketplace",
      payload.Marketplace ?? client._options.marketplace,
      { explode: false, charEncoding: "none" },
    ),
    "X-Plex-Model": encodeSimple(
      "X-Plex-Model",
      payload.Model ?? client._options.model,
      { explode: false, charEncoding: "none" },
    ),
    "X-Plex-Platform": encodeSimple(
      "X-Plex-Platform",
      payload.Platform ?? client._options.platform,
      { explode: false, charEncoding: "none" },
    ),
    "X-Plex-Platform-Version": encodeSimple(
      "X-Plex-Platform-Version",
      payload["Platform-Version"] ?? client._options.platformVersion,
      { explode: false, charEncoding: "none" },
    ),
    "X-Plex-Product": encodeSimple(
      "X-Plex-Product",
      payload.Product ?? client._options.product,
      { explode: false, charEncoding: "none" },
    ),
    "X-Plex-Version": encodeSimple(
      "X-Plex-Version",
      payload.Version ?? client._options.version,
      { explode: false, charEncoding: "none" },
    ),
    "accepts": encodeSimple(
      "accepts",
      payload.accepts ?? client._options.accepts,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.token);
  const securityInput = secConfig == null ? {} : { token: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "updateItems",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.token,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "404", "409", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    ContentType: response.headers.get("content-type")
      ?? "application/octet-stream",
    StatusCode: response.status,
    RawResponse: response,
    Headers: {},
  };

  const [result] = await M.match<
    operations.UpdateItemsResponse,
    | PlexAPIError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.nil(200, operations.UpdateItemsResponse$inboundSchema),
    M.fail([400, 404, 409, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
