/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PlexAPICore } from "../core.js";
import {
  encodeFormQuery as encodeFormQuery$,
  encodeSimple as encodeSimple$,
} from "../lib/encodings.js";
import * as m$ from "../lib/matchers.js";
import * as schemas$ from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../sdk/models/errors/httpclienterrors.js";
import * as errors from "../sdk/models/errors/index.js";
import { SDKError } from "../sdk/models/errors/sdkerror.js";
import { SDKValidationError } from "../sdk/models/errors/sdkvalidationerror.js";
import * as operations from "../sdk/models/operations/index.js";
import { Result } from "../sdk/types/fp.js";

/**
 * Adding to a Playlist
 *
 * @remarks
 * Adds a generator to a playlist, same parameters as the POST to create. With a dumb playlist, this adds the specified items to the playlist.
 * With a smart playlist, passing a new `uri` parameter replaces the rules for the playlist. Returns the playlist.
 */
export async function playlistsAddPlaylistContents(
  client$: PlexAPICore,
  playlistID: number,
  uri: string,
  playQueueID?: number | undefined,
  options?: RequestOptions,
): Promise<
  Result<
    operations.AddPlaylistContentsResponse,
    | errors.AddPlaylistContentsBadRequest
    | errors.AddPlaylistContentsUnauthorized
    | SDKError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  const input$: operations.AddPlaylistContentsRequest = {
    playlistID: playlistID,
    uri: uri,
    playQueueID: playQueueID,
  };

  const parsed$ = schemas$.safeParse(
    input$,
    (value$) =>
      operations.AddPlaylistContentsRequest$outboundSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return parsed$;
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    playlistID: encodeSimple$("playlistID", payload$.playlistID, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path$ = pathToFunc("/playlists/{playlistID}/items")(pathParams$);

  const query$ = encodeFormQuery$({
    "playQueueID": payload$.playQueueID,
    "uri": payload$.uri,
  });

  const headers$ = new Headers({
    Accept: "application/json",
  });

  const accessToken$ = await extractSecurity(client$.options$.accessToken);
  const security$ = accessToken$ == null ? {} : { accessToken: accessToken$ };
  const context = {
    operationID: "addPlaylistContents",
    oAuth2Scopes: [],
    securitySource: client$.options$.accessToken,
  };
  const securitySettings$ = resolveGlobalSecurity(security$);

  const requestRes = client$.createRequest$(context, {
    security: securitySettings$,
    method: "PUT",
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    timeoutMs: options?.timeoutMs || client$.options$.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return requestRes;
  }
  const request$ = requestRes.value;

  const doResult = await client$.do$(request$, {
    context,
    errorCodes: ["400", "401", "4XX", "5XX"],
    retryConfig: options?.retries
      || client$.options$.retryConfig,
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  });
  if (!doResult.ok) {
    return doResult;
  }
  const response = doResult.value;

  const responseFields$ = {
    ContentType: response.headers.get("content-type")
      ?? "application/octet-stream",
    StatusCode: response.status,
    RawResponse: response,
    Headers: {},
  };

  const [result$] = await m$.match<
    operations.AddPlaylistContentsResponse,
    | errors.AddPlaylistContentsBadRequest
    | errors.AddPlaylistContentsUnauthorized
    | SDKError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    m$.json(200, operations.AddPlaylistContentsResponse$inboundSchema, {
      key: "object",
    }),
    m$.jsonErr(400, errors.AddPlaylistContentsBadRequest$inboundSchema),
    m$.jsonErr(401, errors.AddPlaylistContentsUnauthorized$inboundSchema),
    m$.fail(["4XX", "5XX"]),
  )(response, { extraFields: responseFields$ });
  if (!result$.ok) {
    return result$;
  }

  return result$;
}
