/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PlexAPICore } from "../core.js";
import {
    encodeFormQuery as encodeFormQuery$,
    encodeSimple as encodeSimple$,
} from "../lib/encodings.js";
import * as m$ from "../lib/matchers.js";
import * as schemas$ from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
    ConnectionError,
    InvalidRequestError,
    RequestAbortedError,
    RequestTimeoutError,
    UnexpectedClientError,
} from "../sdk/models/errors/httpclienterrors.js";
import * as errors from "../sdk/models/errors/index.js";
import { SDKError } from "../sdk/models/errors/sdkerror.js";
import { SDKValidationError } from "../sdk/models/errors/sdkvalidationerror.js";
import * as operations from "../sdk/models/operations/index.js";
import { Result } from "../sdk/types/fp.js";

/**
 * Retrieve Playlist Contents
 *
 * @remarks
 * Gets the contents of a playlist. Should be paged by clients via standard mechanisms.
 * By default leaves are returned (e.g. episodes, movies). In order to return other types you can use the `type` parameter.
 * For example, you could use this to display a list of recently added albums vis a smart playlist.
 * Note that for dumb playlists, items have a `playlistItemID` attribute which is used for deleting or moving items.
 *
 */
export async function playlistsGetPlaylistContents(
    client$: PlexAPICore,
    playlistID: number,
    type: operations.GetPlaylistContentsQueryParamType,
    options?: RequestOptions
): Promise<
    Result<
        operations.GetPlaylistContentsResponse,
        | errors.GetPlaylistContentsResponseBody
        | errors.GetPlaylistContentsPlaylistsResponseBody
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >
> {
    const input$: operations.GetPlaylistContentsRequest = {
        playlistID: playlistID,
        type: type,
    };

    const parsed$ = schemas$.safeParse(
        input$,
        (value$) => operations.GetPlaylistContentsRequest$outboundSchema.parse(value$),
        "Input validation failed"
    );
    if (!parsed$.ok) {
        return parsed$;
    }
    const payload$ = parsed$.value;
    const body$ = null;

    const pathParams$ = {
        playlistID: encodeSimple$("playlistID", payload$.playlistID, {
            explode: false,
            charEncoding: "percent",
        }),
    };

    const path$ = pathToFunc("/playlists/{playlistID}/items")(pathParams$);

    const query$ = encodeFormQuery$({
        type: payload$.type,
    });

    const headers$ = new Headers({
        Accept: "application/json",
    });

    const accessToken$ = await extractSecurity(client$.options$.accessToken);
    const security$ = accessToken$ == null ? {} : { accessToken: accessToken$ };
    const context = {
        operationID: "getPlaylistContents",
        oAuth2Scopes: [],
        securitySource: client$.options$.accessToken,
    };
    const securitySettings$ = resolveGlobalSecurity(security$);

    const requestRes = client$.createRequest$(
        context,
        {
            security: securitySettings$,
            method: "GET",
            path: path$,
            headers: headers$,
            query: query$,
            body: body$,
            timeoutMs: options?.timeoutMs || client$.options$.timeoutMs || -1,
        },
        options
    );
    if (!requestRes.ok) {
        return requestRes;
    }
    const request$ = requestRes.value;

    const doResult = await client$.do$(request$, {
        context,
        errorCodes: ["400", "401", "4XX", "5XX"],
        retryConfig: options?.retries || client$.options$.retryConfig,
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    });
    if (!doResult.ok) {
        return doResult;
    }
    const response = doResult.value;

    const responseFields$ = {
        ContentType: response.headers.get("content-type") ?? "application/octet-stream",
        StatusCode: response.status,
        RawResponse: response,
        Headers: {},
    };

    const [result$] = await m$.match<
        operations.GetPlaylistContentsResponse,
        | errors.GetPlaylistContentsResponseBody
        | errors.GetPlaylistContentsPlaylistsResponseBody
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >(
        m$.json(200, operations.GetPlaylistContentsResponse$inboundSchema, { key: "object" }),
        m$.jsonErr(400, errors.GetPlaylistContentsResponseBody$inboundSchema),
        m$.jsonErr(401, errors.GetPlaylistContentsPlaylistsResponseBody$inboundSchema),
        m$.fail(["4XX", "5XX"])
    )(response, { extraFields: responseFields$ });
    if (!result$.ok) {
        return result$;
    }

    return result$;
}
